{% block header %}

<head>
    <title>나만의 장고 블로그</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"/>
</head>



<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">나만의 장고 블로그</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-black">
                    {% if user.is_authenticated %}
                        <a class="nav-link text-black font-weight-bold" href="{% url 'write' %}">Write</a>
                    {% endif %}
                </li>
                <li class="nav-item text-black">
                    {% if user.is_authenticated %}
                    {% else %}
                    <a class="nav-link text-black font-weight-bold" href="{% url 'signup' %}">Sign Up</a>
                    {% endif %}
                </li>

                <li class="nav-item text-black">
                    {% if user.is_authenticated %}
                        <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">{{ user.username }} (로그아웃)</a>
                    {% else %}
                        <a class="nav-link text-black font-weight-bold" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock header %}